<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#home">
            <img src="images/logo.png" alt="logo" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#demos" class="nav-link"> Demos </a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link"> Features </a>
                </li>
                <li class="nav-item">
                    <a href="#faq" class="nav-link"> FAQ </a>
                </li>
                <li class="nav-item">
                    <a href="#versions" class="nav-link"> Other Versions </a>
                </li>
                <li class="nav-item">
                    <a
                        href="https://support.envytheme.com/"
                        class="nav-link"
                        target="_blank"
                    >
                        Support
                    </a>
                </li>
            </ul>
        </div>
        <a href="#pricing" class="default-btn"> See Pricing </a>
    </div>
</nav>

<!-- Banner -->
<div
    class="banner-area position-relative z-2"
    style="background-image: url(images/banner-bg.jpg)"
>
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <!-- <a href="#home" class="logo d-inline-block">
                <img src="images/ico.png" alt="logo" width="16" />
            </a> -->
            <h1>Aico - Vue.js Artificial Intelligence (AI) Template</h1>
            <a href="#demos" class="default-btn"> See Demos </a>
        </div>
    </div>
    <div
        class="banner-box one animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner1.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box two animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner2.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box three animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner3.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box four animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner4.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box five animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner5.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box six animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner6.jpg" alt="demo-image" />
    </div>
    <div
        class="banner-box seven animate"
        data-animate="fadeInUp"
        data-delay="0.6s"
    >
        <img src="images/banners/banner7.jpg" alt="demo-image" />
    </div>
    <div class="shape3">
        <img src="images/shapes/shape3.png" alt="shape" />
    </div>
    <span class="envytheme"> Aico </span>
</div>

<!-- Home Pages -->
<div
    id="demos"
    class="demos-area position-relative z-1"
    style="background-image: url(images/demos-bg.jpg)"
>
    <div class="container">
        <div class="section-title text-center">
            <h2>06+</h2>
            <h4 class="mb-0">Homepage Variations</h4>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/home.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI Image Generator</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/ai-chatbot.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/ai-chatbot"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI Chatbot</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/ai-chatbot-dark.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/ai-chatbot-dark"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI Chatbot - Dark</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/ai-news.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/ai-news"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI News</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/ai-news-dark.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/ai-news-dark"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI News - Dark</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/ai-generator.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/ai-generator"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>AI Generator</h3>
                </div>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item">
                    <div class="image">
                        <img src="images/coming-soon.jpg" alt="demo-image" />
                    </div>
                    <h3>+ More Home Demos</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Experience -->
<div
    class="experience-area overflow-hidden"
    style="background-image: url(images/experience-bg.jpg)"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="experience-content">
                    <h2>11+ Years of Experience</h2>
                    <p>
                        An impressive product from a distinguished Power Elite
                        Author.
                    </p>
                    <ul class="p-0 mb-0 list-unstyled position-relative">
                        <li
                            class="text-center d-inline-block animate"
                            data-animate="fadeInUp"
                            data-delay="0.4s"
                        >
                            <div
                                class="icon d-flex align-items-center justify-content-center rounded-circle bg-white"
                            >
                                <img src="images/weekly.svg" alt="weekly" />
                            </div>
                            <span class="d-block fw-medium text-white">
                                Top Weekly
                            </span>
                        </li>
                        <li
                            class="text-center d-inline-block animate"
                            data-animate="fadeInUp"
                            data-delay="0.6s"
                        >
                            <div
                                class="icon d-flex align-items-center justify-content-center rounded-circle bg-white"
                            >
                                <img
                                    src="images/trending.svg"
                                    alt="trendsetter"
                                />
                            </div>
                            <span class="d-block fw-medium text-white">
                                Trendsetter
                            </span>
                        </li>
                        <li
                            class="text-center d-inline-block animate"
                            data-animate="fadeInUp"
                            data-delay="0.8s"
                        >
                            <div
                                class="icon d-flex align-items-center justify-content-center rounded-circle bg-white"
                            >
                                <img
                                    src="images/power-elite2.svg"
                                    alt="power-elite"
                                />
                            </div>
                            <span class="d-block fw-medium text-white">
                                Power Elite
                            </span>
                        </li>
                        <li
                            class="text-center d-inline-block animate"
                            data-animate="fadeInUp"
                            data-delay="0.4s"
                        >
                            <div
                                class="icon d-flex align-items-center justify-content-center rounded-circle bg-white"
                            >
                                <img
                                    src="images/featured-author.svg"
                                    alt="featured-author"
                                />
                            </div>
                            <span class="d-block fw-medium text-white">
                                Featured Author
                            </span>
                        </li>
                        <li
                            class="text-center d-inline-block animate"
                            data-animate="fadeInUp"
                            data-delay="0.6s"
                        >
                            <div
                                class="icon d-flex align-items-center justify-content-center rounded-circle bg-white"
                            >
                                <img
                                    src="images/featured-item.svg"
                                    alt="featured-item"
                                />
                            </div>
                            <span class="d-block fw-medium text-white">
                                Featured Item
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="experience-image position-relative">
                    <div
                        class="power-elite-box d-flex align-items-center animate"
                        data-animate="fadeInDown"
                        data-delay="0.4s"
                    >
                        <img src="images/power-elite.svg" alt="power-elite" />
                        <div>
                            <span class="d-block fw-medium">
                                Envato Power Elite Author
                            </span>
                            <span class="d-block fw-medium">
                                <strong>37k+</strong> Happy Customers
                            </span>
                        </div>
                    </div>
                    <img src="images/experience.png" alt="experience-image" />
                    <div class="variations">
                        <img src="images/variations.png" alt="variations" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inner Pages -->
<div class="inner-pages-area">
    <div class="container">
        <div class="section-title text-center">
            <h2>22+</h2>
            <h4 class="mb-0">Inner Pages</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/about.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/about"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>About Us</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/services.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/services"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Services</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/service-details.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/service-details"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Service Details</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="1s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/pricing.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/pricing"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Pricing</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/shop.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/shop"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Shop</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/product-details.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/product-details"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Product Details</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/blog-grid.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/blog-grid"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Blog Grid</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img
                            src="images/demos/blog-details.jpg"
                            alt="demo-image"
                        />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/blog-details"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Blog Details</h3>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-demo-item on-hover">
                    <div class="image">
                        <img src="images/demos/contact.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://vue.envytheme.com/adezo/contact"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts -->
<div class="funfacts-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="funfacts-content position-relative">
                    <div class="row">
                        <div
                            class="col-lg-6 col-md-3 col-6 animate"
                            data-animate="fadeInUp"
                            data-delay="0.4s"
                        >
                            <div class="box d-lg-flex align-items-center">
                                <img
                                    src="images/frameworks.svg"
                                    alt="frameworks"
                                />
                                <div>
                                    <h3 class="text-white">06+</h3>
                                    <span class="d-block text-white">
                                        Homepage Variations
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-3 col-6 animate"
                            data-animate="fadeInUp"
                            data-delay="0.6s"
                        >
                            <div class="box d-lg-flex align-items-center">
                                <img src="images/pages.svg" alt="pages" />
                                <div>
                                    <h3 class="text-white">22+</h3>
                                    <span class="d-block text-white">
                                        Inner Pages
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-3 col-6 animate"
                            data-animate="fadeInUp"
                            data-delay="0.4s"
                        >
                            <div class="box d-lg-flex align-items-center">
                                <img
                                    src="images/components.svg"
                                    alt="components"
                                />
                                <div>
                                    <h3 class="text-white">43+</h3>
                                    <span class="d-block text-white">
                                        Total Pages
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-3 col-6 animate"
                            data-animate="fadeInUp"
                            data-delay="0.6s"
                        >
                            <div class="box d-lg-flex align-items-center">
                                <img
                                    src="images/ui-elements.svg"
                                    alt="ui-elements"
                                />
                                <div>
                                    <h3 class="text-white">01+</h3>
                                    <span class="d-block text-white">
                                        Types of Fonts Used
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="funfacts-image text-center">
                    <img src="images/funfacts.png" alt="funfacts-image" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RTL -->
<!-- <div id="rtl" class="rtl-area position-relative z-1">
    <div class="container">
        <div class="section-title text-center">
            <h2>RTL</h2>
            <h4>Demos Available</h4>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-6 col-lg-6 col-sm-6 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div
                    class="single-demo-item position-relative text-center on-hover"
                >
                    <div class="image">
                        <img src="images/demos/rtl.jpg" alt="demo-image" />
                    </div>
                    <a
                        href="https://templates.envytheme.com/avib/rtl/index.html"
                        target="_blank"
                        class="link-btn"
                    ></a>
                    <h3 class="mb-0">Click to See More RTL Demos</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="shape3">
        <img src="images/shapes/shape3.png" alt="shape" />
    </div>
</div> -->

<!-- Features -->
<div id="features" class="features-area position-relative z-1">
    <div class="container">
        <div class="section-title text-center color-white">
            <h2>Features</h2>
            <span class="sub-title d-block lh-1 fw-semibold">
                Awesome Features
            </span>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/vue.png" alt="icon" />
                    </div>
                    <h3>Vue.js</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/nuxt.png" alt="icon" />
                    </div>
                    <h3>Nuxt.js</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/bootstrap.png" alt="icon" />
                    </div>
                    <h3>Bootstrap</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/typescript.png" alt="icon" />
                    </div>
                    <h3>TypeScript</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/npm.png" alt="icon" />
                    </div>
                    <h3>npm</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/sass.png" alt="icon" />
                    </div>
                    <h3>Built with Sass</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/jquery.png" alt="icon" />
                    </div>
                    <h3>No jQuery Dependency</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/rtl.png" alt="icon" />
                    </div>
                    <h3>RTL Support</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/speed.png" alt="icon" />
                    </div>
                    <h3>Speed Performance</h3>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/toggle.png" alt="icon" />
                    </div>
                    <h3>Light/Dark Mode</h3>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/swiper.png" alt="icon" />
                    </div>
                    <h3>Swiper Slider</h3>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/aos.png" alt="icon" />
                    </div>
                    <h3>AOS Animation</h3>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/flaticon.png" alt="icon" />
                    </div>
                    <h3>Flaticon</h3>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/map.png" alt="icon" />
                    </div>
                    <h3>Google Maps</h3>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box text-center">
                    <div class="icon">
                        <img src="images/icons/remixicon.png" alt="icon" />
                    </div>
                    <h3>RemixIcon</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/code.png" alt="icon" />
                    </div>
                    <h3>Clean & Professional Code</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/responsive.png" alt="icon" />
                    </div>
                    <h3>Fully Responsive Layout</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/effect.png" alt="icon" />
                    </div>
                    <h3>Smooth Transition Effects</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/browser.png" alt="icon" />
                    </div>
                    <h3>Browser Compatibility</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/customize.png" alt="icon" />
                    </div>
                    <h3>Easy to Customize</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/retina.png" alt="icon" />
                    </div>
                    <h3>Retina Ready</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/developer.png" alt="icon" />
                    </div>
                    <h3>Developer Friendly</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/support.png" alt="icon" />
                    </div>
                    <h3>Quick Support</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/doc.png" alt="icon" />
                    </div>
                    <h3>Well Documented</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="images/icons/updates.png" alt="icon" />
                    </div>
                    <h3>Free Lifetime Updates</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<!-- Documentation -->
<div class="documentation-area position-relative z-1 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="documentation-image">
                    <img
                        src="images/documentation.png"
                        alt="documentation-image"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="documentation-content">
                    <h2>Documentation</h2>
                    <p>
                        This documentation offers an essential overview of our
                        templates’ functionality and customization options. We
                        strongly advise reviewing the guide thoroughly before
                        beginning your project with our template.
                    </p>
                    <!-- <a href="https://avib-docs.envytheme.com/" class="default-btn" target="_blank">
                        Read Full Documentation
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="shape">
        <img src="images/vector.png" alt="vector" />
    </div>
</div>

<!-- Why Choose Us -->
<div class="why-choose-us-area">
    <div class="container">
        <div class="section-title text-center">
            <h4 class="mb-0">What Makes This a Smart Purchase</h4>
            <p>Check out what makes this product so special!</p>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-reactjs-fill"></i>
                    </div>
                    <h3 class="fw-bold">Framework oriented</h3>
                    <p>
                        A dependable framework provides components that are
                        ready for immediate use in production.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-star-line"></i>
                    </div>
                    <h3 class="fw-bold">Top-quality framework</h3>
                    <p>
                        Aico utilizes the most suitable framework for each
                        technology, providing a dependable solution.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-refresh-line"></i>
                    </div>
                    <h3 class="fw-bold">Frequent updates</h3>
                    <p>
                        A template with ongoing updates, incorporating the
                        newest technologies & features.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-briefcase-line"></i>
                    </div>
                    <h3 class="fw-bold">Personalize effortlessly</h3>
                    <p>
                        Create a unique look that suits your style effortlessly.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-magic-line"></i>
                    </div>
                    <h3 class="fw-bold">Tailor with simplicity</h3>
                    <p>
                        Adaptable layout and design tailored to meet specific
                        requirements.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-flip-horizontal-line"></i>
                    </div>
                    <h3 class="fw-bold">User-friendly navigation</h3>
                    <p>
                        User-friendly, streamlined theme navigation with
                        expandable options.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-git-pull-request-line"></i>
                    </div>
                    <h3 class="fw-bold">Accelerate your project starting</h3>
                    <p>
                        Leverage our starter kit to swiftly establish a strong
                        base for your next project.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-gradienter-line"></i>
                    </div>
                    <h3 class="fw-bold">Enjoy outstanding benefits</h3>
                    <p>
                        Exceptional benefits at a budget-friendly price,
                        offering a diverse array of features.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-file-list-3-line"></i>
                    </div>
                    <h3 class="fw-bold">Complete documentation</h3>
                    <p>
                        In-Depth and accessible documentation featuring FAQs,
                        articles, and code samples.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-shape-line"></i>
                    </div>
                    <h3 class="fw-bold">Components with top features</h3>
                    <p>
                        Providing a wide range of built-in functionalities,
                        making them versatile and capable of addressing various
                        needs in a single package.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-code-line"></i>
                    </div>
                    <h3 class="fw-bold">
                        Create with trust/develop with certainty
                    </h3>
                    <p>
                        Robust and high-standard code, rigorously tested for
                        reliable and high-performance application development.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-search-2-line"></i>
                    </div>
                    <h3 class="fw-bold">
                        Obtain the support you're looking for
                    </h3>
                    <p>
                        Receive top-notch assistance from the template
                        developers for any queries or problems.
                    </p>
                </div>
            </div>
            <div
                class="col-xl-4 col-sm-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-why-choose-box position-relative z-1">
                    <div class="icon rounded-circle">
                        <i class="ri-bar-chart-grouped-line"></i>
                    </div>
                    <h3 class="fw-bold">Versatile and growth-friendly</h3>
                    <p>Ideally supports large and complex project demands.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing -->
<div id="pricing" class="pricing-area">
    <div class="container">
        <div class="section-title text-center">
            <h4 class="mb-0">Affordable Pricing Plans For Everyone</h4>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-4 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.4s"
            >
                <div class="single-pricing-box position-relative">
                    <h3>Regular License</h3>
                    <div class="price lh-1 fw-bold">$7</div>
                    <p>
                        You or one client can use it in a
                        <strong>single end product</strong> for which end users
                        are <strong>not charged</strong>. The total price
                        includes a buyer fee and the item price.
                    </p>
                    <a
                        href="#"
                        target="_blank"
                        class="d-block w-100 style-two default-btn text-center"
                    >
                        Buy Now
                    </a>
                    <span class="d-block sub-title fw-semibold">
                        Included Features:
                    </span>
                    <ul class="p-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            One Time Purchase
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            Free Lifetime Access to Future Updates
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            6 Months of Support from EnvyTheme
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            Quality Checked by Envato
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="col-xl-4 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.6s"
            >
                <div class="single-pricing-box most-popular position-relative">
                    <span class="popular d-inline-block fw-medium">
                        Most Popular
                    </span>
                    <h3>Extended License</h3>
                    <div class="price lh-1 fw-bold">$399</div>
                    <p>
                        You or one client can use it for a
                        <strong>single end product</strong> for which end users
                        <strong>can be charged</strong>. The total price
                        includes a buyer fee and the item price.
                    </p>
                    <a
                        href="#"
                        target="_blank"
                        class="d-block w-100 style-two default-btn text-center"
                    >
                        Buy Now
                    </a>
                    <span class="d-block sub-title fw-semibold">
                        Included Features:
                    </span>
                    <ul class="p-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            One Time Purchase
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            Free Lifetime Access to Future Updates
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            6 Months of Support from EnvyTheme
                        </li>
                        <li class="position-relative">
                            <img
                                src="images/tick-circle.svg"
                                alt="tick-circle"
                            />
                            Quality Checked by Envato
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="col-xl-4 col-md-6 animate"
                data-animate="fadeInUp"
                data-delay="0.8s"
            >
                <div
                    class="single-pricing-box custom-license position-relative"
                >
                    <h3>Custom License</h3>
                    <p>
                        If a custom license is necessary for your business
                        model, contact us to discuss it.
                    </p>
                    <a
                        href="mailto:hello@envytheme.com"
                        class="d-block w-100 default-btn text-center"
                    >
                        Contact Us
                    </a>
                    <div class="image text-center">
                        <img src="images/pricing.png" alt="pricing-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div id="faq">
    <app-faq />
</div>

<!-- Other Versions -->
<!-- <div id="versions" class="other-versions-area">
    <div class="container">
        <div class="section-title text-center">
            <h4 class="mb-0">Grab Alternate Versions!</h4>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-xl-3 col-lg-4 col-md-6 col-sm-6 animate"
                data-animate="flipInX"
                data-delay="0.6s"
            >
                <a
                    href="https://1.envato.market/Wqb99X"
                    class="mv-card text-center d-block"
                    target="_blank"
                >
                    <img src="images/versions/ng.png" alt="image" />
                    <h3 class="mb-0">Angular Version</h3>
                </a>
            </div>
        </div>
    </div>
</div> -->

<!-- Footer -->
<footer
    class="footer-area position-relative z-1"
    style="background-image: url(images/footer-bg.jpg)"
>
    <div class="container">
        <div class="footer-content mx-auto text-center">
            <h2>
                Purchase Aico Template now & make your website more excellent!
            </h2>
            <a href="#pricing" class="default-btn"> See Pricing </a>
            <p>
                Crafted by
                <a href="https://envytheme.com/" target="_blank">
                    EnvyTheme.com
                </a>
            </p>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="shape1">
        <img src="images/shapes/shape1.png" alt="shape" />
    </div>
    <div class="shape2">
        <img src="images/shapes/shape2.png" alt="shape" />
    </div>
</footer>

<!-- Power Elite Author -->
<div class="power-elite-author-area">
    <div class="container">
        <a href="https://1.envato.market/O2y7r" class="d-block" target="_blank">
            <img
                src="images/power-elite-author.png"
                alt="power-elite-author-image"
            />
        </a>
    </div>
</div>

<!-- Author Logo -->
<a href="https://envytheme.com/" target="_blank" class="author-logo">
    <img src="images/envytheme.png" alt="envato" />
</a>

<!-- Buy Now -->
<a href="#pricing" class="buy-now">
    <img src="images/envato.png" alt="envato" />
</a>

<!-- Custom Cursor -->
<div class="envytheme-cursor">
    <span> Click to View Demo </span>
</div>
<div class="envytheme-cursor2"></div>
