/* You can add global styles to this file, and also import other style files */
:root {
    --fontSize: 16px;
    --transition: .5s;
    --whiteColor: #ffffff;
    --blackColor: #111111;
    --primaryColor: #ff0080;
    --paragraphColor: #666666;
    --fontFamily: 'Spartan', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: {
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
p {
    color: var(--paragraphColor);
    font-size: var(--fontSize);
    margin-bottom: 15px;
    line-height: 1.8;

    &:last-child {
        margin-bottom: 0;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--blackColor);
    font-weight: 800;
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        color: var(--primaryColor);
        text-decoration: none;
    }
}
:focus {
    outline: 0 !important;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}

// Defualt Btn
.default-btn {
    border: 0;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    padding: 15px 35px 14px;
    color: var(--whiteColor);
    transition: var(--transition);
    background: linear-gradient(91.43deg, #4A00E0 1.22%, #8E2DE2 98.84%);
    font: {
        size: var(--fontSize);
        weight: 600;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        border-radius: 4px;
        position: absolute;
        transition: var(--transition);
        background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%);
    }
    &:hover {
        color: var(--whiteColor);

        &::before {
            opacity: 0;
            visibility: hidden;
        }
    }
}

// Section Title
.section-title {
    margin-bottom: 60px;

    .sub-title {
        color: var(--blackColor);
        margin-top: 15px;
        font-size: 25px;
    }
    h2 {
        font-size: 90px;
        display: inline-block;
        animation: colorchange 20s infinite alternate;
        margin: {
            bottom: 3px;
            top: -5px;
        };
    }
    h4 {
        line-height: 1;
        font-size: 35px;
    }
    p {
        margin-top: 15px;

        a {
            color: var(--primaryColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.color-white {
        .sub-title {
            color: var(--whiteColor);
        }
    }
}
@keyframes colorchange {
    0% {
        background: url(../public/images/gradient/gradient-color1.jpg) center center no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    20% {
        background: url(../public/images/gradient/gradient-color2.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    40% {
        background: url(../public/images/gradient/gradient-color3.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    60% {
        background: url(../public/images/gradient/gradient-color4.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    80% {
        background: url(../public/images/gradient/gradient-color5.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100% {
        background: url(../public/images/gradient/gradient-color6.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

// Navbar
.navbar {
    z-index: 222;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    padding: {
        top: 15px;
        bottom: 15px;
    };
    &.bg-light {
        background-color: var(--whiteColor) !important;
    }
    &.is-sticky {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        position: sticky;
        background-color: var(--whiteColor) !important;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        padding: {
            top: 15px;
            bottom: 15px;
        };
    }
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}
.navbar-light {
    .navbar-nav {
        margin: {
            left: auto;
            right: auto;
        };
        .nav-item {
            margin: {
                left: 16px;
                right: 16px;
            };
            .nav-link {
                padding: 0;
                color: var(--blackColor);
                transition: var(--transition);
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
                &:hover, &.active {
                    color: var(--primaryColor);
                }
            }
        }
    }
    .default-btn {
        box-shadow: 0px 10px 15px rgba(142, 45, 226, 0.15);
        background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%);

        &::before {
            background: linear-gradient(91.43deg, #4A00E0 1.22%, #8E2DE2 98.84%);
        }
    }
}

// Banner
.banner-area {
    background: {
        position: center center;
        repeat: no-repeat;
        color: #fbfbfb;
        size: cover;
    };
    padding: {
        top: 250px;
        bottom: 250px;
    };
    .shape3 {
        left: 50%;
        top: auto;
        bottom: -45px;
        transform: translateX(-50%);
    }
    .envytheme {
        left: 0;
        right: 0;
        z-index: -2;
        opacity: .03;
        bottom: 50px;
        position: absolute;
        text-align: center;
        transform: rotate(-30deg);
        font: {
            size: 150px;
            weight: 800;
        };
    }
}
.banner-content {
    max-width: 820px;
    
    h1 {
        font-size: 50px;
        line-height: 1.6;
        margin: {
            top: 35px;
            bottom: 25px;
        };
    }
}
.banner-box {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.10));
    position: absolute;
    z-index: -1;

    &.one {
        top: 30px;
        left: 30px;
        width: 350px;
    }
    &.two {
        left: 15px;
        width: 280px;
        bottom: 80px;
    }
    &.three {
        left: 120px;
        width: 350px;
        bottom: -25px;
    }
    &.four {
        width: 150px;
        right: 15%;
        top: 0;
    }
    &.five {
        width: 250px;
        right: 30px;
        top: 80px;
    }
    &.six {
        right: 25px;
        width: 350px;
        bottom: 30px;
    }
    &.seven {
        right: 22%;
        width: 140px;
        bottom: 10px;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    } to {
        opacity: 1;
        transform: translateZ(0);
    }
}

// Shapes
.shape1 {
    position: absolute;
    z-index: -1;
    left: 3%;
    top: 0;

    img {
        animation: moveleftbounce 4s linear infinite;
    }
}
.shape2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 4%;

    img {
        animation: moveleftbounce 4s linear infinite;
    }
}
.shape3 {
    position: absolute;
    z-index: -1;
    left: 25%;
    top: 5%;

    img {
        animation: moveleftbounce 4s linear infinite;
    }
}
@keyframes moveleftbounce {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(20px); 
    }
    100% {
        transform: translateX(0); 
    } 
}

// Demos
.demos-area {
    padding: {
        top: 100px;
        bottom: 50px;
    };
}
.single-demo-item {
    margin-bottom: 50px;

    .image {
        margin-bottom: 35px;
        transition: var(--transition);
        filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
    }
    h3 {
        transition: var(--transition);
        font-size: 20px;
    }
    .new {
        top: -8px;
        z-index: 1;
        right: -8px;
        line-height: 1;
        padding: 8px 11px;
        border-radius: 4px;
        position: absolute;
        pointer-events: none;
        background-color: red;
        color: var(--whiteColor);
        font: {
            size: 15px;
            weight: 600;
        };
        &:before {
            top: 0;
            left: 0;
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 4px;
            position: absolute;
            animation-delay: .2s;
            background-color: red;
            animation: ripple 1.5s ease-out infinite;
        }
    }
    .link-btn {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: block;
        position: absolute;
    }
    &:hover {
        .image {
            transform: translateY(-10px);
            filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.1));
        }
        h3 {
            color: var(--primaryColor);
        }
    }
}

// Inner Pages
.inner-pages-area {
    background-color: #fbfbfb;
    padding: {
        top: 100px;
        bottom: 50px;
    };
}

// RTL
.rtl-area {
    padding: {
        top: 100px;
        bottom: 50px;
    };
}

// Experience
.experience-area {
    padding-top: 100px;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.experience-content {
    margin-top: 5px;

    h2 {
        font-size: 35px;
        margin-bottom: 12px;
        color: var(--whiteColor);
    }
    p {
        color: var(--whiteColor);
    }
    ul {
        margin-top: 45px;
        
        li {
            position: relative;

            span {
                margin-top: 10px;
            }
            &:nth-child(1) {
                left: 265px;

                .icon {
                    width: 80.77px;
                    height: 80.77px;
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
            }
            &:nth-child(2) {
                left: 0;
                top: 70px;
                position: absolute;

                .icon {
                    width: 80.77px;
                    height: 80.77px;
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
            }
            &:nth-child(3) {
                top: 140px;
                left: 148px;
                position: absolute;

                .icon {
                    width: 101.01px;
                    height: 101.01px;
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
            }
            &:nth-child(4) {
                top: 300px;
                left: 20px;
                position: absolute;

                .icon {
                    width: 80.77px;
                    height: 80.77px;
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
            }
            &:nth-child(5) {
                top: 230px;
                left: 310px;
                position: absolute;

                .icon {
                    width: 80.77px;
                    height: 80.77px;
                    margin: {
                        left: auto;
                        right: auto;
                    };
                }
            }
        }
    }
}
.experience-image {
    margin: {
        top: -120px;
        left: -50px;
        right: -80px;
    };
    .variations {
        left: 0;
        top: 230px;
        position: absolute;
        animation: upDownMover 1s infinite alternate;
    }
    .power-elite-box {
        right: 80px;
        bottom: 60px;
        width: 315px;
        position: absolute;
        padding: 17.5px 28px;
        border-radius: 100px;
        color: var(--whiteColor);
        background-color: #605DFF;

        img {
            margin-right: 15px;
        }
        span {
            font-size: 14px;

            &:first-child {
                margin-bottom: 3px;
            }
            strong {
                font: {
                    size: 17px;
                    weight: 700;
                };
            }
        }
    }
}
@keyframes upDownMover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

// Features
.features-area {
    background-color: #0f1217;
    padding: {
        top: 100px;
        bottom: 75px;
    };
}
.single-features-box {
    padding: 40px 25px;
    margin-bottom: 25px;
    background-color: #26292F;
    transition: var(--transition);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.02);

    .icon {
        margin-bottom: 25px;
    }
    h3 {
        transition: var(--transition);
        color: #c7c7c7;
        font: {
            size: 17px;
            weight: 600;
        };
    }
    .new {
        top: -8px;
        z-index: 1;
        right: -8px;
        line-height: 1;
        padding: 8px 11px;
        border-radius: 4px;
        position: absolute;
        pointer-events: none;
        background-color: red;
        color: var(--whiteColor);
        font: {
            size: 15px;
            weight: 600;
        };
        &:before {
            top: 0;
            left: 0;
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 4px;
            position: absolute;
            animation-delay: .2s;
            background-color: red;
            animation: ripple 1.5s ease-out infinite;
        }
    }
    &:hover {
        background-color: var(--whiteColor);

        h3 {
            color: var(--blackColor);
        }
    }
}
@keyframes run {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

// Documentation
.documentation-area {
    padding: {
        top: 100px;
        bottom: 100px;
    };
    .shape {
        bottom: 0;
        z-index: -1;
        left: -100px;
        max-width: 450px;
        position: absolute;
    }
}
.documentation-image {
    padding-left: 55px;
}
.documentation-content {
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .default-btn {
        margin-top: 15px;
    }
}

// Why Choose Us
.why-choose-us-area {
    background-color: #f8f8ff;
    padding: {
        top: 100px;
        bottom: 75px;
    };
}
.single-why-choose-box {
    margin-bottom: 25px;
    padding: {
        top: 40px;
        left: 90px;
        right: 20px;
        bottom: 40px;
    };
    .icon {
        left: 0;
        top: 50%;
        width: 68px;
        height: 68px;
        font-size: 31px;
        position: absolute;
        text-align: center;
        color: var(--primaryColor);
        border: 1px solid #eeeeee;
        transform: translateY(-50%);
        transition: var(--transition);
        background-color: var(--whiteColor);

        i {
            left: 0;
            top: 50%;
            right: 0;
            margin-top: -1px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 13px;
    }
    p {
        font-size: 15px;
    }
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        margin-left: 34px;
        border-radius: 7px;
        position: absolute;
        background-color: var(--whiteColor);
    }
    &:hover {
        .icon {
            color: var(--whiteColor);
            border-color: var(--primaryColor);
            background-color: var(--primaryColor);
        }
    }
}

// Funfacts
.funfacts-area {
    background: linear-gradient(103deg, #757DFF 9.31%, #9013FE 72.15%);
    padding-top: 50px;
}
.funfacts-content {
    margin-bottom: -75px;
    padding-right: 55px;
    top: -25px;

    .box {
        margin-bottom: 70px;

        img {
            margin-right: 22px;
        }
        h3 {
            font-size: 35px;
            margin-bottom: 1px;
        }
    }
}
.funfacts-image {
    margin: {
        left: -130px;
        right: -22px;
    };
}

// Pricing
.pricing-area {
    padding: {
        top: 100px;
        bottom: 75px;
    };
}
.single-pricing-box {
    padding: 50px 35px;
    margin-bottom: 25px;
    border-radius: 14px;
    border: 1px solid #e3e5ff;
    background-color: var(--whiteColor);
    box-shadow: 0px 5.632px 70.394px 0px rgba(0, 0, 0, 0.05);

    h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .price {
        font-size: 35px;
        color: var(--blackColor);
        margin: {
            top: 35px;
            top: 28px;
            bottom: 15px;
        };
        span {
            font-size: 16px;
            margin-left: -10px;
            text-transform: capitalize;
            color: var(--paragraphColor);
        }
    }
    p {
        font-size: 15px;

        strong {
            font-weight: 600;
            color: var(--blackColor);
        }
    }
    .default-btn {
        margin-top: 28px;
        border-radius: 5px;
        box-shadow: 0px 5.632px 28.158px 0px rgba(0, 0, 0, 0.15);
    }
    .sub-title {
        font-size: 13px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin: {
            top: 35px;
            bottom: 20px;
        };
    }
    ul {
        li {
            font-size: 15px;
            padding-left: 32px;
            margin-bottom: 15px;
            color: var(--paragraphColor);

            img {
                left: 0;
                top: 50%;
                width: 22px;
                margin-top: -2px;
                position: absolute;
                transform: translateY(-50%);
            }
            a {
                color: var(--secondaryColor);

                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .image {
        padding: {
            left: 15px;
            right: 15px;
        };
        margin: {
            top: 50px;
            bottom: 11px;
        };
    }
    .popular {
        left: 35px;
        top: -12px;
        font-size: 13px;
        position: absolute;
        border-radius: 30px;
        padding: 4px 13px 2px;
        color: var(--whiteColor);
        background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%);
    }
    &.custom-license {
        h3 {
            margin-bottom: 15px;
        }
    }
    &.most-popular {
        z-index: 1;

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            position: absolute;
            border-radius: 14px;
            border: 1px solid var(--primaryColor);
        }
    }
}
.col-xl-4 {
    &:nth-child(3) {
        .single-pricing-box {
            .default-btn {
                box-shadow: 0px 10px 15px rgba(142, 45, 226, 0.15);
                background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%);
        
                &::before {
                    background: linear-gradient(91.43deg, #4A00E0 1.22%, #8E2DE2 98.84%);
                }
            }
        }
    }
}

// Other Versions
.other-versions-area {
    padding: {
        top: 100px;
        bottom: 75px;
    };
}
.mv-card {
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #f9f9f9;

    h3 {
        font-size: 20px;
        margin-top: 25px;
    }
    &:hover {
        transform: translateY(-10px);
    }
}

// Power Elite Author
.power-elite-author-area {
    padding: {
        top: 100px;
        bottom: 100px;
    };
}

// Footer
.footer-area {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    padding: {
        top: 200px;
        bottom: 200px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        opacity: 0.97;
        position: absolute;
        background: linear-gradient(91.29deg, #4A00E0 1.1%, #8E2DE2 110.64%);
    }
}
.footer-content {
    max-width: 770px;

    h2 {
        font-size: 35px;
        line-height: 1.4;
        margin-bottom: 40px;
        color: var(--whiteColor);
    }
    p {
        color: var(--whiteColor);
        margin-top: 40px;

        a {
            font-weight: 600;
            color: var(--whiteColor);

            &:hover {
                color: var(--primaryColor);
            }
        }
    }
}
.lines {
    top: 0;
    left: 0;
    right: 0;
    width: 90vw;
    z-index: -1;
    height: 100%;
    margin: auto;
    position: absolute;

    .line {
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);

        &::after {
            left: 0;
            top: -50%;
            content: "";
            width: 100%;
            height: 15vh;
            display: block;
            position: absolute;
            animation: run 7s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--whiteColor) 75%, var(--whiteColor) 100%);
        }
        &:nth-child(1) {
            margin-left: -25%;

            &::after {
                animation-delay: 2s;
            }
        }
        &:nth-child(3) {
            margin-left: 25%;

            &::after {
                animation-delay: 2.5s;
            }
        }
        &:nth-child(4) {
            margin-left: -40%;

            &::after {
                animation-delay: 2.5s;
            }
        }
        &:nth-child(5) {
            margin-left: 40%;

            &::after {
                animation-delay: 2.5s;
            }
        }
    }
}

// Author Logo
.author-logo {
    z-index: 9;
    right: 40px;
    width: 65px;
    height: 65px;
    bottom: 150px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    img {
        left: 0;
        right: 0;
        top: 50%;
        width: 65px;
        position: absolute;
        transform: translateY(-50%);
        margin: {
            left: auto;
            right: auto;
        };
    }
}

// Buy Now
.buy-now {
    z-index: 9;
    right: 40px;
    width: 65px;
    height: 65px;
    bottom: 40px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: #81b441;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    img {
        left: 0;
        right: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        margin: {
            left: auto;
            right: auto;
        };
    }
}

// Custom Cursor
.envytheme-cursor {
    top: 0;
    left: 0;
    transition: none;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 9999999999;
    Pointer-events: none;
    color: var(--primaryColor);
    background-color: transparent;
    font: {
        size: 14px;
        weight: 600;
    };
    span {
        opacity: 0;
        visibility: hidden;
        padding: 8px 15px 5px;
        display: inline-block;
        transition: var(--transition);
        background-color: var(--whiteColor);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &.active {
        span {
            opacity: 1;
            visibility: visible;
        }
    }
} 
.envytheme-cursor2 {
    top: 9px;
    left: 9px;
    width: 25px;
    height: 25px;
    transition: none;
    border-radius: 50%;
    position: absolute;
    z-index: 9999999999;
    Pointer-events: none;
    border: 1px solid transparent;
}